
<form method = "POST" action = "/new">
  <h3>Create a Pirate:</h3>
  <p>Name: <input type="text" name="pirate[name]"></p>
  <p>Height: <input type="text" name="pirate[height]"></p>
  <p>Weight: <input type="text" name="pirate[weight]"></p>
    <h3>Add a Ship</h3>
      <p><label for="ship_name_1">Name:</label><input type="text" name="pirate[ships][][name]" id="ship_name_1"></p>
      <p><label for="ship_type_1">Type:</label> <input type="text" name="pirate[ships][][type]" id="ship_type_1"></p>
      <p><label for="ship_booty_1">Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></p>
    <h3>Add Another Ship</h3>
      <p><label for="ship_name_2">Name:</label><input type="text" name="pirate[ships][][name]" id="ship_name_2"></p>
      <p><label for="ship_type_2">Type:</label> <input type="text" name="pirate[ships][][type]" id="ship_type_2"></p>
      <p><label for="ship_booty_2">Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></p>
      <p><input type="submit" value="Submit"></p>
</form>
